[user]
	email = work@jwtanner.com
	name = Justin Tanner
[core]
	editor = emacs
	autocrlf = input
	excludesfile = /Users/jwt/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
